- name: Disable overlayfs twice with reboots # https://www.raspberrypi.com/documentation/computers/configuration.html#overlay-file-system-2
  ansible.builtin.include_tasks: "{{ playbook_dir }}/tasks/disable_writeprotect.yaml"
  loop: [1, 2]

- name: Include system tasks
  ansible.builtin.import_tasks: system.yaml

- name: Include USBguard hardening tasks
  ansible.builtin.import_tasks: restrict_usb_massstorage.yaml
  when: restrict_usb | default(false)

- name: Include persistent data folder tasks
  ansible.builtin.import_tasks: datafolder.yaml

- name: Include installation tasks
  ansible.builtin.import_tasks: install.yaml

- name: Include systemd service tasks
  ansible.builtin.import_tasks: service.yaml

- name: Enable OverlayFS
  ansible.builtin.import_tasks: "{{ playbook_dir }}/tasks/enable_writeprotect.yaml"
