- name: Include system tasks
  ansible.builtin.import_tasks: system.yaml

- name: Include installation tasks
  ansible.builtin.import_tasks: install.yaml

- name: Include systemd service tasks
  ansible.builtin.import_tasks: service.yaml

- name: Uninstall photobooth-app pipx package if installed
  community.general.pipx:
    name: photobooth-app
    state: absent
