- name: Ensure apps prerequisites are installed
  become: true
  ansible.builtin.apt:
    name:
      - python3-dev
      - python3-venv
      - python3-pip
      - python3-picamera2
      - build-essential
      - libnng-dev
      - git # to install from git.
    state: present
    update_cache: false

- name: Install wigglecam into a dedicated venv
  ansible.builtin.pip:
    name: "wigglecam[node]"
    # name: "wigglecam[node] @ git+https://github.com/photobooth-app/wigglecam.git"
    state: "forcereinstall"
    virtualenv: "{{ node_wigglecam_venv }}"
    virtualenv_command: "python3 -m venv"
    virtualenv_site_packages: true # system packages visible for picamera2/libcamera
  environment:
    TMPDIR: /var/tmp # avoid /tmp space issues on Pi Zero
  become: false

- name: Create data directory
  ansible.builtin.file:
    path: "{{ node_data_dir }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0755"

- name: Create .env.node file in data directory
  ansible.builtin.copy:
    dest: "{{ node_data_dir }}/.env.node"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0644"
    content: |
      # camera_picamera2_flip_vertical=true
      # camera_picamera2_flip_horizontal=true
      camera_picamera2_software_sync={{ software_sync_role }}
