- name: Disable OverlayFS
  ansible.builtin.import_tasks: "{{ playbook_dir }}/tasks/disable_writeprotect.yaml"

- name: Include system tasks
  ansible.builtin.import_tasks: system.yaml

- name: Include installation tasks
  ansible.builtin.import_tasks: install.yaml

- name: Include systemd service tasks
  ansible.builtin.import_tasks: service.yaml

- name: Enable OverlayFS
  ansible.builtin.import_tasks: "{{ playbook_dir }}/tasks/enable_writeprotect.yaml"
